{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block menu %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Limpa Bem</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sobre</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cadastros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'cadastrar-servico' %}">Serviços</a></li>
                  <li><a class="dropdown-item" href="{% url 'cadastrar-cliente' %}">Cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'cadastrar-atendimento' %}">Atendimento</a></li>
                </ul>
              </li>
              {% else %}
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listagens
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'listar-servico' %}">Serviços</a></li>
                  <li><a class="dropdown-item" href="{% url 'listar-cliente' %}">Cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'listar-atendimento' %}">Atendimento</a></li>
                </ul>
              </li>
              {% else %}
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-dark" >Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-dark" >Login</a>
            {% endif %}
          </form>
          </div>
        </div>
      </nav>
    
    {% endblock %}
      <div class="container">
          {% block content %}{% endblock %}
      </div>
      <footer style="bottom: 0;" class="py-3 my-4 align-items-flex-end" id="footer">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Inicio</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Limpa Bem, Inc</p>
      </footer>
      {% block script %}{% endblock %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>